body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 60px;
  background: #f2f2f2;
}

button {
  font-size: 22px;
  padding: 15px 35px;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}

.on {
  background-color: #2ecc71;
  color: white;
}

.off {
  background-color: #e74c3c;
  color: white;
}

#status {
  margin-top: 20px;
  font-weight: bold;
}
